%h1 Listing follower's tweets
%table
  %thead
    %tr
      %th Message
      %th
      %th
      %th

  %tbody
    -@followed_tweets.each do |followed_tweet|
      %tr
        %td= followed_tweet.message
        -if followed_tweet.user == current_user
          %td= link_to 'Edit', edit_tweet_path(followed_tweet)
          %td= link_to 'Destroy', followed_tweet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Home', root_path

