%h1 You currently follow: 

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @myFollowers.each do |myFollower|
      %tr
        %td= User.find(myFollower.follower_id).name
        %td= link_to 'Remove', myFollower, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

<!-- = link_to 'Add New Follower', new_follow_path -->
= link_to 'Want to follow new users?', :controller => :follows, :action => :listNonFollowers, :id =>current_user.id 
= link_to 'Users who follow me', :controller => :follows, :action => :find_my_following, :id =>current_user.id
