%h1 Whom do you want to follow ? 
%table
  %tbody
    - @allUsers.each do |non_follower|
      %tr
        %td= non_follower.name
        %td= link_to 'Follow', follows_path(:follower_id => non_follower.id),:method => :post 
